<h1><%= adds_s(@band.name) %> Albums</h1>

<ul>
  <% @band_albums.each do |band_album| %>
    <li>
      <%= link_to band_album.name, album_url(band_album) %>
    </li>
  <% end %>
</ul>

<%= link_to "Add album", new_band_album_url(@band.id) %>
<br>
<%= link_to @band.name, band_url(@band) %>
<br>
<%= link_to "Back to All Bands", bands_url %>