<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
<%= button_to 'Log out', session_url, method: :delete %>
<% end %>

<%= flash[:notice] if flash[:notice] %>
<%= flash[:errors] if flash[:errors] %>

<%= yield %>

</body>
</html>
